.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
}

.container {
  width: 335px;
  height: 100%;
  margin: 0 auto;
}

header .container {
  display: flex;
  align-items: flex-start;
}

.container--small {
  width: 315px;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  header .container {
    align-items: center;
  }
}

footer .container {
  position: relative;
}

header {
  position: relative;
  width: 375px;
  height: 102px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  header {
    width: 100%;
    max-width: 1600px;
    height: 120px;
  }
}

.site-nav {
  display: none;
}

@media screen and (min-width: 1200px) {
  .site-nav {
    display: block;
  }
  .site-nav__list {
    display: flex;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 30px;
  }
  .site-nav__link {
    position: relative;
    padding: 6px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.286;
    text-transform: uppercase;
    color: #323642;
  }
  .site-nav__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #4CB649;
    transform: scale(0);
    transition: transform 175ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav__link:hover::after, .site-nav__link:focus::after {
    transform: scale(1);
  }
  .site-nav__icon {
    margin-left: 10px;
  }
}

.auth-box {
  position: absolute;
  display: flex;
  right: 10px;
  top: 16px;
}

.auth-box button:first-of-type {
  display: none;
}

@media screen and (min-width: 1200px) {
  .auth-box {
    right: 60px;
    top: 40px;
  }
  .auth-box button:first-of-type {
    display: block;
    margin-right: 10px;
  }
}

.hero {
  margin-bottom: 40px;
}

@media screen and (min-width: 1200px) {
  .hero {
    margin-bottom: 30px;
  }
}

.posts {
  margin-bottom: 70px;
}

.posts .button {
  width: 100%;
  margin-bottom: 70px;
}

@media screen and (min-width: 1200px) {
  .posts .button {
    width: 260px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .posts .container {
    display: flex;
  }
  .posts__container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 800px;
  }
  .posts__container::after {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    content: '';
    width: 1px;
    height: 100%;
    background: #EBECED;
  }
}

.pricing {
  padding: 60px 0 44px 0;
  color: #323642;
  background: linear-gradient(135deg, #3D4251 0%, #272B35 100%);
}

.pricing__card-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1060px;
  margin-bottom: 36px;
}

.pricing__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 315px;
  height: 340px;
  padding: 45px 55px;
  border: 1px solid #EBECED;
  border-radius: 6px;
  text-align: center;
  background: #FFFFFF;
}

.pricing__card:hover {
  outline: 4px solid #FF8D00;
}

.pricing__title {
  position: relative;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.286;
  text-transform: uppercase;
}

.pricing__title::after {
  content: '';
  position: absolute;
  bottom: -14px;
  left: 50%;
  transform: translate(-50%);
  display: block;
  width: 24px;
  height: 2px;
  background: #4CB649;
}

.pricing__value {
  position: relative;
  font-size: 56px;
  font-weight: 300;
  line-height: 1.179;
  color: #22252E;
  margin-bottom: 35px;
}

.pricing__value::after {
  position: absolute;
  bottom: -19px;
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #EBECED;
}

.pricing__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.571;
}

.pricing__max-price {
  margin-right: 8px;
  text-decoration: line-through;
  color: #F24458;
}

.pricing__save {
  font-weight: 700;
}

.pricing .section__title {
  margin-bottom: 40px;
  text-align: center;
}

.pricing sup,
.pricing sub {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.333;
}

.pricing sup {
  margin-right: 8px;
}

.pricing sub {
  margin-left: 3px;
}

.pricing input {
  position: fixed;
}

.pricing .button {
  margin-top: auto;
  width: 205px;
}

@media screen and (min-width: 1200px) {
  .pricing {
    padding: 100px 0 57px 0;
  }
  .pricing__card-wrap {
    margin-bottom: 54px;
    padding: 0 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: auto;
  }
  .pricing__card {
    width: 380px;
  }
  .pricing .section__title br {
    display: none;
  }
}

input:checked + .pricing__card {
  outline: 4px solid #4CB649;
}

input:checked + .pricing__card:hover {
  outline: 4px solid #FF8D00;
}

@media screen and (min-width: 1200px) {
  input:checked + .pricing__card {
    height: 380px;
    padding: 59px 0;
  }
}

.footer {
  padding: 45px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.571;
  color: #889099;
}

.footer__content {
  margin-top: 54px;
}

.footer__nav {
  margin-bottom: 40px;
}

.footer__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer__item :not(:last-child) {
  margin-bottom: 12px;
}

.footer__title {
  margin-bottom: 18px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.286;
  text-transform: uppercase;
  color: #323642;
}

.footer .item1 {
  grid-row-start: 1;
  grid-row-end: 3;
}

.footer .item2,
.footer .item3 {
  margin-left: 18px;
}

.footer .item3 {
  grid-row-start: 2;
  grid-row-end: 3;
}

.footer .item4 {
  margin-top: 35px;
}

.footer .copyright {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.333;
  margin-top: 18px;
}

.footer .copyright p:not(:last-of-type) {
  margin-bottom: 14px;
}

@media screen and (min-width: 1200px) {
  .footer {
    height: 620px;
    padding: 84px 0 91px 0;
  }
  .footer__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
  }
  .footer__nav {
    margin: 0;
  }
  .footer__list {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer .item2,
  .footer .item3,
  .footer .item4 {
    margin: 0;
  }
}

.warn-box {
  display: flex;
  height: 68px;
  justify-content: space-between;
  padding: 14px 38px 13px 20px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.333;
  color: #889099;
  background: #22252E;
}

.warn-box__msg {
  margin-bottom: 9px;
  margin-left: 28px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.333;
  color: #FF8D00;
}

.warn-box__learn-more {
  margin-bottom: 9px;
  margin-right: 9px;
  color: #ffffff;
}

.warn-box__learn-more:hover, .warn-box__learn-more:focus {
  text-decoration: underline;
}

.warn-box__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 0;
  background: transparent;
  color: #889099;
}

.warn-box__close-btn:hover, .warn-box__close-btn:focus {
  cursor: pointer;
  color: #FF8D00;
}

.warn-box__alert-icon {
  position: absolute;
  top: -6px;
  left: 0;
}

.warn-box__close-icon {
  fill: currentColor;
}

.warn-box div {
  display: flex;
}

.warn-box div:first-of-type {
  position: relative;
  flex-direction: column;
}

.warn-box div:last-of-type {
  flex-direction: column-reverse;
  align-items: flex-end;
}

@media screen and (min-width: 670px) {
  .warn-box {
    justify-content: center;
    height: 40px;
  }
  .warn-box div:first-of-type, .warn-box div:last-of-type {
    flex-direction: row;
    align-items: center;
  }
  .warn-box div:first-of-type {
    margin-right: 32px;
  }
  .warn-box__learn-more, .warn-box__msg {
    margin: 0;
    margin-left: 32px;
  }
  .warn-box__msg {
    margin-left: 28px;
    margin-right: 32px;
  }
  .warn-box__close-btn {
    top: 8px;
    right: 16px;
  }
}

.logo {
  margin-top: 25px;
}

header .logo {
  margin-left: 30px;
}

@media screen and (min-width: 1200px) {
  header .logo {
    margin-right: 140px;
    margin-left: 7px;
  }
}

footer .logo {
  display: block;
  margin-top: 0;
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-top: 0;
  }
  footer .logo {
    margin-bottom: 58px;
  }
}

.button {
  height: 40px;
  padding: 0 22px;
  margin: 0;
  border: 1px solid #4CB649;
  border-radius: 30px;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.286;
  text-transform: uppercase;
  background-color: transparent;
  color: #4CB649;
}

.button--accent {
  border: none;
  color: #FFFFFF;
  background: linear-gradient(0deg, #4CB649 0%, #5DDF5A 100%);
}

.button:hover {
  border: none;
  cursor: pointer;
  color: #FFFFFF;
  background: linear-gradient(0deg, #FF8D00 3.81%, #FFA400 97.78%);
}

.menu-btn {
  position: absolute;
  top: 28px;
  left: 12px;
  border: none;
  background: transparent;
}

.menu-btn__icon-cross {
  display: none;
}

.menu-btn.is-open .menu-btn__icon-cross {
  display: block;
}

.menu-btn.is-open .menu-btn__icon-menu {
  display: none;
}

.menu-btn:hover {
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .menu-btn {
    display: none;
  }
}

.post__list.repeat {
  display: none;
}

.post__item {
  position: relative;
  margin-bottom: 66px;
}

.post__item::after {
  content: '';
  position: absolute;
  bottom: -33px;
  display: block;
  width: 315px;
  height: 1px;
  background: #EBECED;
}

.post__img {
  width: 315px;
  height: 200px;
  object-fit: cover;
}

.post__text-container {
  padding-top: 18px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.571;
}

.post .title {
  margin-bottom: 14px;
}

.post__author {
  margin-bottom: 12px;
  color: #323642;
}

.post__date {
  margin-left: 8px;
  text-transform: uppercase;
  color: #889099;
}

.post__thems {
  margin-bottom: 12px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.333;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #4CB649;
}

.post__comments {
  display: flex;
  align-items: center;
  padding-left: 3px;
  color: #889099;
}

.post__comments-icon {
  margin-right: 9px;
}

.hero .post {
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.101961);
}

.hero .post__text-container {
  padding: 27px 30px 17px 30px;
  border: 1px solid #D7D8D9;
  border-top: none;
  border-radius: 0 0 6px 6px;
}

@media screen and (min-width: 1200px) {
  .post {
    display: flex;
  }
  .post__link :hover .post__img,
  .post__link :focus .post__img {
    transform: scale(1.04);
  }
  .post__list.repeat {
    display: block;
  }
  .post__item::after {
    width: 740px;
  }
  .post__img {
    width: 280px;
    height: 180px;
    object-fit: cover;
    transition: transform 175ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .post__text-container {
    width: 520px;
    padding: 0 40px;
  }
  .post__title {
    margin-bottom: 8px;
  }
  .post__author {
    margin-bottom: 8px;
  }
  .post__thems {
    margin-bottom: 8px;
  }
  .hero .post__img {
    width: 600px;
    height: 400px;
  }
  .hero .post__text-container {
    width: 600px;
    padding: 59px 60px 0px 60px;
    border: 1px solid #D7D8D9;
    border-left: none;
    border-radius: 0 6px 6px 0;
  }
  .hero .post .title {
    margin-bottom: 84px;
  }
}

.tags {
  display: none;
  height: 60px;
  margin-bottom: 40px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.286;
  text-transform: uppercase;
  color: #323642;
}

.tags .link:hover, .tags .link:focus {
  color: #FF8D00;
}

.tags__list {
  display: flex;
  margin-right: auto;
  margin-left: 43px;
  color: #4CB649;
}

.tags__item:not(:last-child) {
  margin-right: 37px;
}

.tags__team {
  margin-right: 39px;
}

.tags .container {
  display: flex;
  align-items: center;
  padding: 0 33px;
  background: #F7F7F7;
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .tags {
    display: block;
  }
}

.search-box {
  display: flex;
  align-items: center;
  width: 340px;
  height: 59px;
  margin-bottom: 40px;
  padding: 15px 20px;
  border: 1px solid #D7D8D9;
  border-radius: 4px;
}

.search-box__icon {
  margin-right: 23px;
  fill: #22252E;
}

.search-box__input {
  width: 100%;
  height: 28px;
  padding: 0;
  margin: 0;
  border: none;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.556;
  color: #22252E;
}

.search-box__input::placeholder {
  color: currentColor;
}

@media screen and (min-width: 1200px) {
  .search-box {
    position: absolute;
  }
  .search-box__container {
    display: flex;
    justify-content: flex-end;
  }
}

.aside__bloc {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.aside__bloc::after {
  content: '';
  width: 100%;
  height: 1px;
  margin: 30px 0;
  background: #EBECED;
}

.aside__icon {
  margin-right: 20px;
}

.aside__list {
  margin-top: 20px;
  margin-left: 10px;
}

.aside__item {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.571;
  color: #323642;
}

.aside__item:not(:last-child) {
  margin-bottom: 16px;
}

.aside__item::before {
  position: absolute;
  left: -10px;
  content: '\2022';
  color: #4CB649;
}

.aside__img {
  display: block;
  margin-bottom: 50px;
}

@media screen and (min-width: 1200px) {
  .aside {
    width: 400px;
    margin-top: 90px;
    padding-left: 60px;
  }
}

.title {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.417;
  color: #22252E;
}

.section__title {
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.375;
  color: #22252E;
}

.section__title--invers {
  color: #FFFFFF;
}

.waysToPay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.waysToPay__title {
  margin-bottom: 22px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.556;
  color: #FFFFFF;
}

.waysToPay__img-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.waysToPay__img-wrap img {
  object-fit: contain;
}

.waysToPay__img-wrap img:not(:last-of-type) {
  margin-bottom: 30px;
}

.waysToPay a {
  display: flex;
  align-items: center;
  margin-top: 40px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.286;
  text-transform: uppercase;
  color: #4CB649;
}

.waysToPay a svg {
  margin-left: 12px;
}

@media screen and (min-width: 1200px) {
  .waysToPay {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 916px;
    margin: 0 auto;
  }
  .waysToPay__title {
    width: 130px;
    margin: 0;
  }
  .waysToPay__img-wrap {
    width: 786px;
  }
  .waysToPay a {
    margin-top: 33px;
  }
  .waysToPay a:not(:last-of-type) {
    margin-right: 44px;
  }
  .waysToPay img:not(:last-of-type) {
    margin: 0;
  }
}

.social {
  position: absolute;
  bottom: 383px;
  right: 0;
  width: 150px;
}

.social__title {
  margin-bottom: 26px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.286;
  text-transform: uppercase;
  color: #323642;
}

.social__icon-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

@media screen and (min-width: 1200px) {
  .social {
    bottom: 0;
    right: 267px;
    width: 333px;
  }
  .social__icon-wrap {
    display: flex;
    justify-content: space-between;
  }
}
/*# sourceMappingURL=main.css.map */