.logo {
  @include font(18px, 400, 22px);
  text-transform: capitalize;

  color: $logo-color;

  header & {
    margin-left: 40px;

    @media screen and(min-width: 1200px) {
      margin-right: 243px;
      // margin-right: 140px;
      margin-left: 7px;
    }
  }

  footer & {
    margin-bottom: 54px;
  }

  @media screen and(min-width: 1200px) {
    footer & {
      margin-bottom: 58px;
    }
  }
}