.menu-btn {
  position: absolute;
  top: 28px;
  left: 12px;

  border: none;

  z-index: 2;
  background: transparent;

  &__icon-cross {
    display: none;
  }

  &.is-open &__icon-cross{
    display: block;
  }

  &.is-open &__icon-menu {
    display: none;
  }

  &:hover {
    cursor: pointer;
  }

  @media screen and(min-width: 1200px) {
    display: none;
  }
}