.warn-box {
  display: flex;
  height: 68px;
  justify-content: space-between;
  padding: 14px 38px 13px 20px;

  @include font(12px, 400, 16px);

  color: $light-text-color;
  background: $warn-msg-bg-color;

  &__msg{
    margin-bottom: 9px;
    margin-left: 28px;
    @include font(12px, 700, 16px);
    color: $warn-box-accent-color;
  }

  &__learn-more{
    margin-bottom: 9px;
    margin-right: 9px;
    color: #ffffff;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;

    width: 24px;
    height: 24px;

    border: none;
    border-radius: 0;
    background: transparent;

    color: $light-text-color;

    &:hover,
    &:focus {
      cursor: pointer;
      color: $warn-box-accent-color;
    }
  }

  &__alert-icon {
    position: absolute;
    top: -6px;
    left: 0;
  }

  &__close-icon {
    fill: currentColor;
  }

  & div {
    display: flex;
  }

  & div:first-of-type {
    position: relative;
    flex-direction: column;
  }

  & div:last-of-type {
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  @media screen and (min-width: 670px) {
    justify-content: center;
    height: 40px;

    & div:first-of-type, div:last-of-type {
      flex-direction: row;
      align-items: center;
    }

    & div:first-of-type {
      margin-right: 32px;
    }

    &__learn-more, &__msg {
      margin: 0;
      margin-left: 32px;
    }

    &__msg {
      margin-left: 28px;
      margin-right: 32px;
    }

    &__close-btn {
      top: 8px;
      right: 16px;
    }
  }
}