$main-font: 'Roboto', sans-serif;

$warn-box-accent-color: #FF8D00;
$warn-msg-bg-color: #22252E;

$logo-color: #000000;
$primery-lite-color: #FFFFFF;

$primery-text-color: #323642;
$light-text-color: #889099;
$title-color: #22252E;
$accent-color: #4CB649;
$active-color: #FF8D00;

$button-color: linear-gradient(0deg, #4CB649 0%, #5DDF5A 100%);
$active-button-color: linear-gradient(0deg, #FF8D00 3.81%, #FFA400 97.78%);

$primery-border-color: #D7D8D9;

$tags-bg-color: #F7F7F7;
$dark-bg-color: linear-gradient(135deg, #3D4251 0%, #272B35 100%);

$search-icon-color: #22252E;
$serch-box-text-color: #22252E;

$line-color: #EBECED;

$max-price-color: #F24458;
